{% extends 'main/base.html' %}

{% load static %}

{% block title %}
E-Store
{% endblock %}

{% block content %}
<div class="banner_section layout_padding">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                                 <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                                 <div class="book_bt"><a href="{% url 'product_list' %}">Shop Now</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="{% static 'images/img-1.png' %}" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main"><button class="all_text">All</button><input type="text" class="Enter_text" placeholder="Enter keywords" name=""><button class="search_text">Search</button></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                                 <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                                 <div class="book_bt"><a href="#">Shop Now</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="{% static 'images/img-1.png' %}" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main"><button class="all_text">All</button><input type="text" class="Enter_text" placeholder="Enter keywords" name=""><button class="search_text">Search</button></div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="taital_main">
                                 <h4 class="banner_taital"><span class="font_size_90">50%</span> Discount Online Shop</h4>
                                 <p class="banner_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration </p>
                                 <div class="book_bt"><a href="#">Shop Now</a></div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src=" {% static 'images/img-1.png' %}" class="image_1"></div>
                           </div>
                        </div>
                        <div class="button_main"><button class="all_text">All</button><input type="text" class="Enter_text" placeholder="Enter keywords" name=""><button class="search_text">Search</button></div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class=""><img src="{% static 'images/left-icon.png' %}"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class=""><img src="{% static 'images/right-icon.png' %}"></i>
               </a>
            </div>
         </div>
<div class="container">
<!-- Goods -->
   <div class="category_section_2">
      <div class="row">
         {% for good in goods %}
         <div class="col-lg-4 col-sm-12">
            <div class="beds_section active">
               <h1 class="bed_text">{{ good.name }}</h1>
               <div><img src="{{ good.image.url }}" class="image_2"></div>
               <div class="seemore_bt">{{ good.price }}</div>
               <a class="bed_text" href="{% url 'product' good.id %}">Заказать</a>
            </div>
         </div>
         {% endfor %}
      </div>
      <br>
      <br>
      <a class="bed_text" href="{% url 'product_list' %}">Все товары</a>
   </div>
</div>
<div class="beauty_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-sm-12">
                  <div class="beauty_box">
                     <h1 class="bed_text">Beauty products</h1>
                     <div><img src="{% static 'images/img-5.png' %}" class="image_3"></div>
                     <div class="seemore_bt"><a href="#">see More</a></div>
                  </div>
               </div>
               <div class="col-lg-8 col-sm-12">
                  <div class="beauty_box_1">
                     <h1 class="bed_text_1">Explore trending electronics</h1>
                     <div><img src="{% static 'images/img-6.png' %}" class="image_3"></div>
                     <div class="seemore_bt_1"><a href="#">see More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
<div class="product_section layout_padding">
         <div class="container">
            <h1 class="feature_taital">FEATURED PRODUCTS</h1>
            <p class="feature_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking</p>
            <div class="product_section_2">
               <div class="row">
                  <div class="col-sm-5">
                     <div class="feature_box">
                        <h1 class="readable_text">Readable content of</h1>
                        <div><img src="{% static 'images/img-7.png' %}" class="image_7"></div>
                     </div>
                     <div class="feature_box_1">
                        <h1 class="readable_text">Readable content of</h1>
                        <div><img src="{% static 'images/img-7.png' %}" class="image_7"></div>
                     </div>
                  </div>
                  <div class="col-sm-7">
                     <div class="feature_box_2">
                        <h1 class="readable_text">Readable content of</h1>
                        <div><img src="{% static 'images/img-8.png' %}" class="image_8"></div>
                        <div class="seemore_bt"><a href="#">see More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
<div class="client_section layout_padding">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <h1 class="feature_taital">Оставить отзыв</h1>
                     <p class="feature_text"></p>
                     <div class="client_section_2">
                        <form method="post">
                           {% csrf_token %}
                        <div class="image_9"><img src="{% static 'images/img-9.png' %}"></div>
                        <h3 class="nolmal_text">{{form.user}}</h3>
                        <p class="ipsum_text">{{form.text}}
                        <br>
                        <br>
                        {{form.date}}</p>
                        <button type="submit" class="btn btn-primary w-100 mt-2" width="200">Оставить отзыв</button>
                        <div class="image_9"><img src="{% static 'images/icon-10.png' %}"></div>
                        </form>
                     </div>
                  </div>
               </div>
               {% for review in review %}
               <div class="carousel-item">
                  <div class="container">
                     <h1 class="feature_taital">Отзывы клиентов</h1>
                     <p class="feature_text"></p>
                     <div class="client_section_2">
                        <div class="image_9"><img src="{% static 'images/img-9.png' %}"></div>
                        <h3 class="nolmal_text">{{review.user}}</h3>
                        <p class="ipsum_text">{{review.text}}
                        <br>
                        <br>
                        {{review.date}}</p>
                        <div class="image_9"><img src="{% static 'images/icon-10.png' %}"></div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class=""><img src="{% static 'images/left-icon.png' %}"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class=""><img src="{% static 'images/right-icon.png' %}"></i>
            </a>
         </div>
      </div>
{% endblock %}

