{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Sing up page
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
You already have account
{% else %}
  <br>
  <br>
  <br>
  <br>
  <br>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'
      xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<div class="login">
  <h2> <a href="{% url 'sign_in' %}"> sign in </a></h2>
  <h2> <a href="{% url 'login' %}"> sign up </a></h2>
  <br>
  <br>
  <br>
  <br>
  <form method="post">
    {% csrf_token %}

    <input type="text" class="text" name="username">
     <span>username</span>
    <input type="text" class="text" name="email">
     <span>email</span>
    <input type="password" class="text" name="password1">
    <span>password</span>
    <input type="password" class="text" name="password2">
    <span>repeat password</span>
    <br>
    <button class="btn btn-round btn-success" type="submit" class="button">
      Sign up
    </button>
    <hr>
  </form>
</div>
{% endif %}


{% endblock %}